@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap");
:root {
  --primary-color: #ff6b6b;
  --secondary-color: #796afa;
  --secondary-dark-color: #453c5c;

  --white-color: #ffffff;
  --light-bg-color: #f2f3f5;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;
  --dark-color: #0a021c;

  --font-small: 13px;
  --font-smaller: 11px;

  --percent100: 100%;
  --percent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw7: 700;
  --fw8: 800;

  --trans-background-color: background-color 0.3s, color 0.3s;
  --trans-background-color: background-color 0.3s;
  --trans-color: color 0.3s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--dark-color);
  background-color: var(--white-color);
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  width: var(--percent100);
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
  border-radius: 5px;
}

strong {
  font-weight: var(--fw8);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::placeholder {
  font: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins";
}

h1 {
  font-size: calc(1.3rem + 1vw);
  font-weight: var(--fw8);
  line-height: 1;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: var(--fw7);
}

h4 {
  font-size: 1.3em;
  font-family: var(--fw6);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.938em;
}

.column {
  margin-left: -0.938em;
  margin-right: -0.938em;
}

.column .row {
  padding: 0 0.938em;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexitem {
  display: flex;
  align-items: center;
}

.flexcol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.main-links a:hover {
  color: var(--secondary-color);
}

.second-links a:hover {
  color: var(--light-text-color);
}

.icon-small,
.icon-large {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.icon-small {
  font-size: 1.5em;
  margin-left: auto;
}

.icon-large {
  font-size: 1.75em;
  padding: 0 0.75em;
}

.mobile-hide {
  display: none;
}

.object-cover {
  object-fit: cover;
  width: var(--percent100);
  height: var(--percent100);
  display: block;
}

.mini-text {
  font-size: 15px;
  color: black;
}

/* Structure Styling   */
/*
  
         00. Reusable Selectors
         01. Header
            a. header-top
            b. header-nav
            c. header main, departments category, Search form         
            e. Responsive Menu - off canvas
         02. Hero
            a. slider
         03. Brand
         04. Product  
            a. global product
            b. big product
            c. mini product
            d. main product
         05. Banner    
            a. news letter
            b. widgets
            c. footer info
         06. Bottom menu
            a. search
         07. Overlay
         08. Page single
            a. breadcrumb
            b. product detail
            c. product description
            d. product review
            e. product review form
         09. Page single: special offer
         01. Page category
            a. slidbar product filter
            b. head & product block
         11. Cart
         12. Cart page
         13. Checkout
         14. Modal
         15. Responsive
         */

/* ----------------
 * 01. Header
 * ---------------*/
header li > a {
  display: flex;
  position: relative;
  line-height: inherit;
}
/* ----------------
 * 01. Header
 *  a. header-top
   ---------------*/
.header-top .wrapper {
  font-size: var(--font-small);
  /* font-weight: var(--fw3); */
  justify-content: space-between;
  line-height: 42px;
}

.header-top ul {
  gap: 2em;
}

.header-top li {
  position: relative;
}

.header-top ul ul {
  position: absolute;
  left: 0px;
  line-height: 2em;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  z-index: 1;
  display: none;
}

.header-top .right ul ul li a {
  padding: 0.25em 1em;
}

.header-top  ul li .current {
  background-color: var(--border-color);
}
.header-top li:hover ul {
  display: block;
}

/* 15. Responsive */
@media screen and (min-width: 922px) {
  .mobile-hide {
    display: block;
  }
  .container {
    padding: 0 2em;
  }
}
