@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap");
:root {
  --primary-color: #ff6b6b;
  --secondary-color: #796afa;
  --secondary-dark-color: #453c5c;

  --white-color: #ffffff;
  --light-bg-color: #f2f3f5;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;
  --dark-color: #0a021c;

  --font-small: 13px;
  --font-smaller: 11px;

  --percent100: 100%;
  --percent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw7: 700;
  --fw8: 800;

  --trans-background-color: background-color 0.3s, color 0.3s;
  --trans-background-color: background-color 0.3s;
  --trans-color: color 0.3s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--dark-color);
  background-color: var(--white-color);
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  width: var(--percent100);
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
  border-radius: 5px;
}

strong {
  font-weight: var(--fw8);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::placeholder {
  font: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins";
}

h1 {
  font-size: calc(1.3rem + 1vw);
  font-weight: var(--fw8);
  line-height: 1;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: var(--fw7);
}

h4 {
  font-size: 1.3em;
  font-family: var(--fw6);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.938em;
}

.column {
  margin-left: -0.938em;
  margin-right: -0.938em;
}

.column .row {
  padding: 0 0.938em;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexitem {
  display: flex;
  align-items: center;
}

.flexcol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.main-links a:hover {
  color: var(--secondary-color);
}

.second-links a:hover {
  color: var(--light-text-color);
}

.icon-small,
.icon-large {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.icon-small {
  font-size: 1.5em;
  margin-left: auto;
}

.icon-large {
  font-size: 1.75em;
  padding: 0 0.75em;
}

.mobile-hide {
  display: none;
}

.object-cover {
  object-fit: cover;
  width: var(--percent100);
  height: var(--percent100);
  display: block;
}

.mini-text {
  font-size: 15px;
  color: black;
}

/*  REUSABLE SELECTORS */
/*
         * Structure Styling 
         00. Reusable Selectors
         01. Header
            a. header-top
            b. header-nav
            c. header main, departments category
            d. Search form
            e. Responsive Menu - off canvas
         02. Hero
            a. slider
         03. Brand
         04. Product  
            a. global product
            b. big product
            c. mini product
            d. main product
         05. Banner
         06. Footer
            a. news letter
            b. widgets
            c. footer info`
         07. Bottom menu
            a. search
         08. Overlay
         09. Page single
            a. breadcrumb
            b. product detail
            c. product description
            d. product review
            e. product review form
         10. Page single: special offer
         11. Page category
            a. slidbar product filter
            b. head & product block
         12. Cart
         13. Cart page
         14. Checkout
         15. Modal
         16. Responsive
         */

/* 01. Header */
header li > a {
  display: flex;
  align-items: center;
  line-height: inherit;
}

/* 01. Header
   a. header-top */
.header-top .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  margin-bottom: 4px;
}
.header-top .wrapper ul {
  gap: 3em;
  line-height: 1.9;
}
.header-top li {
  position: relative;
}
.header-top .wrapper ul ul {
  position: absolute;
  top: auto;
  left: 2px;
  background: var(--white-color);
  border: 1px solid var(--border-color);
  display: none;
  z-index: 1000;
}
.header-top li:hover ul {
  display: block;
}
.header-top li .current {
  background: var(--border-color);
}
.header-top ul ul li a {
  padding: 0.25em 1em;
}

/* 01. Header
   b. header-nav */
.header-nav {
  border-bottom: 1px solid var(--border-color);
}
.header-nav ul {
  gap: 3em;
}
.logo {
  position: relative;
  font-size: 2em;
  font-weight: var(--fw8);
  margin-right: 40px;
  bottom: 8px;
}
.circle {
  position: absolute;
  top: -12px;
  left: -9px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--secondary-color);
  border: 1px solid var(--border-color);
  opacity: 0.8;
}
.fly-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  font-size: var(--font-small);
  position: relative;
  bottom: 13px;
  left: 4px;
  padding: 1px 2px;
  border-radius: 3px;
  color: white;
}
.header-nav .mega {
  position: absolute;
  left: 0;
  width: var(--percent100);
  background: var(--light-bg-color);
  height: auto;
  padding: 1em 1.5em;
  border-bottom: 1px solid var(--border-color);
  top: auto;
  z-index: 100;
  display: none;
}
.header-nav nav li:hover .mega {
  display: block;
}
.header-nav .mega .flexcol {
  flex: 1;
}
.header-nav .mega .flexcol a {
  padding: 0 0.25em;
  font-size: var(--font-small);
  line-height: 2em;
}
.header-nav .flexcol .view-all{
  font-size:3em;
  font-weight: var(--fw7);
}
.header-nav nav .mega .products {
  position: relative;
}
.header-nav nav .mega .products .text-content {
  line-height: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5em;
  position: absolute;
  left: 0;
  bottom: 4em;
  width: var(--percent100);
  /* "Why do I have to specify the height? It's causing the image to overlap, and the hover effect isn't working on image." */
}
nav .mega .products .text-content h4 {
  font-size: 2em;
  text-align: center;
  color: var(--secondary-dark-color);
}

nav .mega .products .text-content .primary-button {
  font-size: 1.15em;
  padding: 0.1em 1em;
}

.primary-button,
.secondary-button,
.light-button {
  font-size: var(--font-small);
  padding: 0.9em 2em;
  height: auto;
  width: fit-content;
  border-radius: 2em;
  transition: var(--trans-background-color);
}
.primary-button {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.primary-button:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}
.secondary-button {
  background: var(--secondary-dark-color);
  color: var(--white-color);
}
.secondary-button:hover {
  background-color: var(--light-bg-color);
  color: var(--secondary-dark-color);
}
.light-button {
  background-color: var(--light-bg-color);
}
.light-button:hover {
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
}
.header-nav .wrapper {
  justify-content: space-between;
}
.header-nav .right .icon-large {
  position: relative;
}
.header-nav .right .fly-item {
  background: var(--secondary-dark-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: -10px;
  top: -13px;
  font-size: var(--font-small);
}

/* 16. Responsive */
@media screen and (min-width: 922px) {
  .mobile-hide {
    display: block;
  }
  .container {
    padding: 0 2em;
  }
}
